<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  {{> header }}

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {{#with card}}
            <img src="{{backgroundImage}}" class="img-responsive" alt="">
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">{{title}}</h1>
              </div>
              {{{description}}}
            </div>
          {{/with}}
        </div>

        <br>
        {{#each sections}}
          {{#if (eq type "1image")}}

            {{! Section - 1 image }}
            <div class="col-xs-12">
              <img src="{{src}}" class="img-responsive section-container-spacer" alt="">
              {{#with title}}
                <p>{{.}}</p>
              {{/with}}
            </div>

          {{else if (eq type "2images")}}

            {{! Section - 2 images }}
            <div class="col-md-8 col-md-offset-2 section-container-spacer">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <img src="{{images.[0].src}}" class="img-responsive" alt="">
                  {{#with images.[0].title}}
                    <p>{{.}}</p>
                  {{/with}}
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="{{images.[1].src}}" class="img-responsive" alt="">
                  {{#with images.[1].title}}
                    <p>{{.}}</p>
                  {{/with}}
                </div>
              </div>
            </div>

          {{else if (eq type "paragraph")}}
          
            {{! Section - Paragraph }}
            <div class="col-xs-12 section-container-spacer">
              {{{contents}}}
            </div>

          {{/if}}
        {{/each}}

      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  {{> footer footer }}
</body>

</html>