<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  {{> header }}

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">{{title}}</h1>
            {{{description}}}
          </div>
        </div>

        <div class="col-md-12">
          <div id="myCarousel" class="carousel slide projects-carousel">
            <div class="carousel-inner">
              {{#each works as |items|}}
                <div class="item{{#if @first}} active{{/if}}">
                  <div class="row">
                    {{#each items}}
                      <div class="col-sm-4">
                        <a href="{{href}}" title="" class="black-image-project-hover">
                          <img src="{{image}}" alt="" class="img-responsive">
                        </a>
                        <div class="card-container card-container-lg">
                          <h4>{{number}}</h4>
                          <h3>{{title}}</h3>
                          <p>{{description}}</p>
                          <a href="{{href}}" title="" class="btn btn-default">Discover</a>
                        </div>
                      </div>
                    {{/each}}
                  </div>
              </div>
              {{/each}}
            </div>
            <!--/carousel-inner-->

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>

          </div>
          <!--/myCarousel-->
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  {{> footer footer }}
</body>

</html>